<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookYourFunn - Find the event for you !</title>
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="img/site.webmanifest">
    <link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.min.css">
    
</head>

<body id="byfApp">
    <!-- Overlay grey -->
    <div v-if="overlay" class="overlay" @click="closeModal(), closeNav()"></div>
    <!-- Desktop language & country select -->
    <div class="desktopCountrySelect">
        <ul>
            <!-- Language -->
            <li v-if="language === 'fr'" class="desktopLanguageSelect">
                <i class="fa-solid fa-comment"></i> <span class="active">fr</span><span @click="changeLanguage">en</span>
            </li>
            <li v-else class="desktopLanguageSelect">
                <i class="fa-solid fa-comment"></i> <span @click="changeLanguage">fr</span><span class="active">en</span>
            </li>
            <!-- Country -->
            <li v-if="country === 'be'" class="desktopCountrySelect">
                <i class="fa-solid fa-earth-americas"></i> <span class="active flag"><img src="img/be.png" alt=""></span><span @click="changeCountry('fr')" class="flag"><img src="img/fr.png" alt="">
                </span><span @click="changeCountry('us')" class="flag"><img src="img/us.png" alt=""></span>
            </li>
            <li v-if="country === 'fr'" class="desktopCountrySelect">
                <i class="fa-solid fa-earth-americas"></i> <span @click="changeCountry('be')" class="flag"><img src="img/be.png" alt=""></span><span class="active flag"><img src="img/fr.png" alt=""></span><span @click="changeCountry('us')" class="flag"><img src="img/us.png" alt=""></span>
            </li>
            <li v-if="country === 'us'" class="desktopCountrySelect">
                <i class="fa-solid fa-earth-americas"></i> <span @click="changeCountry('be')" class="flag"><img src="img/be.png" alt=""></span><span @click="changeCountry('fr')" class="flag"><img src="img/fr.png" alt=""></span><span class="active flag"><img src="img/us.png" alt=""></span>
            </li>
        </ul>
    </div>
    <!-- Nav & searchbar -->
    <nav class="navigation flex">
        <!-- Logo + burger -->
        <div class="navigation__left flex align-c">
            <!-- Burger Menu -->
            <div class="navigation__burger">
                <div :class="'burger-menu ' + burgerNavClass" @click="openMobileMenu">
                    <div :class="'barre-top ' + burgerNavClass"></div>
                    <div :class="'barre-middle ' + burgerNavClass"></div>
                    <div :class="'barre-bottom ' + burgerNavClass"></div>
                </div>
            </div>
            <!-- Logo -->
            <a class="navigation__logo" href="index.html">BookYourFun</a>
        </div>
        <!-- Nav -->
        <ul :class="'flex navigation__main ' + mobileNavClass">
            <!-- Nav desktop Segments -->
            <li v-for="(navLink, index) in navLinks" @click="subnavQuerie(navLink.id,'classification')" :data-id="navLink.id"><a href="#">{{navLink.name}}</a></li>
            <li v-if="language === 'fr'" class="languageSelect mobileMargin">
                Langue: <span class="active">fr</span><span @click="changeLanguage">en</span>
            </li>
            <li v-else class="languageSelect">
                Language: <span @click="changeLanguage">fr</span><span class="active">en</span>
            </li>
            <li v-if="country === 'be' && language === 'fr'" class="languageSelect">
                Pays: <span class="active">be</span><span @click="changeCountry('fr')">fr</span><span @click="changeCountry('us')">us</span>
            </li>
            <li v-if="country === 'be' && language === 'en'" class="languageSelect">
                Country: <span class="active">be</span><span @click="changeCountry('fr')">fr</span><span @click="changeCountry('us')">us</span>
            </li>
            <li v-if="country === 'fr' && language === 'fr'" class="languageSelect">
                Pays: <span @click="changeCountry('be')">be</span><span class="active">fr</span><span @click="changeCountry('us')">us</span>
            </li>
            <li v-if="country === 'fr' && language === 'en'" class="languageSelect">
                Country: <span @click="changeCountry('be')">be</span><span class="active">fr</span><span @click="changeCountry('us')">us</span>
            </li>
            <li v-if="country === 'us' && language === 'fr'" class="languageSelect">
                Pays: <span @click="changeCountry('be')">be</span><span @click="changeCountry('fr')">fr</span><span class="active">us</span>
            </li>
            <li v-if="country === 'us' && language === 'en'" class="languageSelect">
                Country: <span @click="changeCountry('be')">be</span><span @click="changeCountry('fr')">fr</span><span class="active">us</span>
            </li>
        </ul>
        <!-- Searchbar -->
        <div class="navigation__search flex  align-c">
            <p v-if="language === 'fr'">Recherche</p>
            <p v-else>Search</p>
            <div class="navigation__search__bar flex">
                <input v-if="language === 'fr'" v-model="searchQuery" @input="performSearch" @keyup.enter="searchWord" type="text" placeholder="Recherche par artiste, événement">
                <input v-else v-model="searchQuery" @input="performSearch" @keyup.enter="searchWord" type="text" placeholder="Search by artist, event">
                <ul>
                    <li v-if="searchQuery.length >= 1 && searchResults.length == 0" class="searchInputInfo"><p v-if="language === 'fr'">Taper au moins un mot</p><p v-else>At least one word</p></li>
                    <li v-if="searchResults.length > 0" class="searchInputInfo">Suggestions</li>
                    <li  v-if="searchResults.length > 0" v-for="searchResult in searchResults" :key="searchResult.id" @click="modalLaunch(searchResult.id)"><a href="#">{{searchResult.name}}</a></li>
                </ul>
                <button @click="searchWord"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header v-if="hpDatasUpcoming" class="header" @click="closeNav" :style="'background:url(' + urlImgHeader + ') center/cover'">
        <div class="header__content flex-c">
            <h2 class="header__content__title">{{titleHeader}}</h2>
            <a :href="urlHeader" class="header__content__btn btn" id="headerBtn">Tickets</a>
        </div>
    </header>
    <!-- Main -->
    <main class="main" @click="closeNav">
        <!-- Main container -->
        <div class="main__container">
            <!-- Queries section -->
            <section v-show="isQuerie" class="queries" id="querySection" ref="item">
                <div class="queries__title flex">
                    <div class="flex-c">
                        <h3 v-if="language === 'fr'">Recherche</h3>
                        <h3 v-else>Search</h3>
                        <span v-if="language === 'fr'">{{ resultsNumber }} Résultats</span>
                        <span v-else>{{ resultsNumber }} Results</span>
                    </div>
                    <button class="closeQueries" @click="closeQueries"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="queriesComponent">
                    <ul class="queries__container">
                        <li v-for="(result, index) in hpDatasQuerie" :key="result.id">
                            <div class="querieDate">{{result.filteredDate}}<br>{{result.filteredTime}}</div>
                            <div class="querieInfos">
                                <div class="querieHour"></div>
                                <div class="querieName">{{result.name}}</div>
                                <div class="querieVenue">{{result._embedded.venues[0].address.line1}}, {{result._embedded.venues[0].city.name}}, {{result._embedded.venues[0].country.name}}</div>
                            </div>
                            <span class="querieMoreInfo btn" @click="modalLaunch(result.id)">Infos</span>
                            <span class="querieMoreInfoMobile">
                                <i class="fa-solid fa-arrow-right" @click="modalLaunch(result.id)"></i>
                            </span>
                        </li>
                    </ul>
                    <div class="queriesComponent__pagination">
                        <i v-show="showPaginationPrev" class="fa-solid fa-arrow-left" @click="queriePagination('prev')"></i>
                        <i v-show="showPaginationNext" class="fa-solid fa-arrow-right" @click="queriePagination('next')"></i>
                    </div>
                </div>
            </section>
            <!-- Upcoming section -->
            <section class="upcomingSuggests">
                <!-- Title -->
                <h3 v-if="language === 'fr'">Bientôt</h3>
                <h3 v-else>Soon</h3>
                <!-- List -->
                <ul>
                    <!-- List Item -->
                    <li class="upcomingSuggests__item" v-if="hpDatasUpcoming" v-for="(event, index) in hpDatasUpcoming" :key="event.id" :data-id="event.id" @click="modalLaunch(event.id)">
                            <!-- Image -->
                            <div class="upcomingSuggests__img">
                                <img :src="event.filteredImage.url" :alt="event.name">
                            </div>
                            <!-- Infos -->
                            <span>{{event.classifications[0].genre.name}}</span>
                            <!-- Artist -->
                            <p>{{event.name}}</p>
                    </li>
                </ul>
            </section>
            <!-- Music section -->
            <section class="musicSuggests">
                <!-- Line -->
                <div class="greyLine"></div>
                <h3 v-if="language === 'fr'">Musique</h3>
                <h3 v-else>Music</h3>
                <ul>
                    <li v-if="hpDatasMusic" v-for="(event, index) in hpDatasMusic" :key="event.id" @click="modalLaunch(event.id)">
                            <div class="suggest__img flex-c">
                                <img :src="event.filteredImage.url" :alt="event.name">
                            </div>
                            <span>{{event.classifications[0].genre.name}}</span>
                            <p>{{event.name}}</p>
                            <p class="resumt">{{event.filteredDate}}</p>
                            <span class="ticketLink">Informations</span>
                    </li>
                </ul>
            </section>
            <!-- Arts section -->
            <section class="artSuggests">
                <!-- Line -->
                <div class="greyLine"></div>
                <h3 v-if="language === 'fr'">Arts & théâtre</h3>
                <h3 v-else>Arts & theater</h3>
                <ul>
                    <li v-if="hpDatasArt" v-for="(event, index) in hpDatasArt" :key="event.id" @click="modalLaunch(event.id)">
                            <div class="suggest__img flex-c">
                                <img :src="event.filteredImage.url" :alt="event.name">
                            </div>
                            <span>{{event.classifications[0].genre.name}}</span>
                            <p>{{event.name}}</p>
                            <p class="resumt">{{event.filteredDate}}</p>
                            <span class="ticketLink">Informations</span>
                    </li>
                </ul>
            </section>
            <!-- Sports section -->
            <section class="sportSuggests">
                <!-- Line -->
                <div class="greyLine"></div>
                <h3>Sports</h3>
                <ul>
                    <li v-if="hpDatasSport" v-for="(event, index) in hpDatasSport" :key="event.id" @click="modalLaunch(event.id)">
                            <div class="suggest__img flex-c">
                                <img :src="event.filteredImage.url" :alt="event.name">
                            </div>
                            <span>{{event.classifications[0].genre.name}}</span>
                            <p>{{event.name}}</p>
                            <p class="resumt">{{event.filteredDate}}</p>
                            <span class="ticketLink">Informations</span>
                    </li>
                </ul>
            </section>
        </div>
        <!-- Aside Suggests -->
        <aside class="main__aside">
            <h3 v-if="language === 'fr'">Plus</h3>
            <h3 v-else>More</h3>
            <ul class="suggests">
                <li v-if="hpDatasSuggest" v-for="(event, index) in hpDatasSuggest" :key="event.id" @click="modalLaunch(event.id)">
                        <div class="aside__img">
                            <img :src="event.filteredImage.url" :alt="event.name">
                        </div>
                        <span>{{event.name}}</span>
                </li>
            </ul>
            <div class="greyLine"></div>
            <div class="addAside">
                <a v-if="language === 'fr'" href="#">Votre publicité ici</a>
                <a v-else href="#">Your add here</a>
            </div>
        </aside>
        <!-- Modal Window -->
        <div v-if="modalDatas" :class="'modale ' + modalAnimClass">
            <div class="modale__title flex">
                <div class="flex-c">
                    <h3>{{modalDatas.name}}</h3>
                </div>
                <button @click="closeModal" class="closeModale"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modale__content flex-c">
                <div class="modale__content__col1 flex">
                    <div class="modaleImg">
                        <a :href="modalDatas.filteredImage.url"><img :src="modalDatas.filteredImage.url" :alt="modalDatas.name"></a>
                    </div>
                    <div class="modaleText flex-c">
                            <!-- Title -->
                            <p>{{modalDatas.name}}</p>
                            <!-- Genre -->
                            <p v-if="modalDatas._embedded.attractions && modalDatas._embedded.attractions[0].classifications[0].genre.name != 'Indéfini' && modalDatas._embedded.attractions[0].classifications[0].genre.name != 'Undefined'"><strong>Genre:</strong> {{modalDatas._embedded.attractions[0].classifications[0].segment.name}}, {{modalDatas._embedded.attractions[0].classifications[0].genre.name}}</p>
                            <p v-else><strong>Genre:</strong> {{modalDatas.classifications[0].segment.name}}, {{modalDatas.classifications[0].genre.name}}</p>
                            <!-- Date -->
                            <p><strong>Date:</strong> {{modalDatas.filteredDate}}<span v-if="modalDatas.filteredTime">, {{modalDatas.filteredTime}}</span></p>
                            <!-- Adress -->
                            <p><strong v-if="language === 'fr'">Adresse:</strong><strong v-else>Adress:</strong> {{modalDatas._embedded.venues[0].address.line1}}, {{modalDatas._embedded.venues[0].city.name}}, {{modalDatas._embedded.venues[0].country.name}}</p>
                            <!-- Status -->
                            <p><strong v-if="language === 'fr'">Statut:</strong><strong v-else>Status:</strong> {{modalDatas.dates.status.code}}</p>
                        <a :href="modalDatas.url" class="btn">Tickets</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- To the top button -->
        <button v-if="showButton" class="topButton" @click="toTheTop"><i class="fa-solid fa-arrow-up"></i></button>
    </main>
    <!-- Footer -->
    <footer class="footer" @click="closeNav">
        <!-- Content -->
        <div>
            <div class="footer__top">
                <a href="#" class="footer__top__logo logo">BookYourFun</a>
                <p v-if="language === 'fr'">
                    Utilisation de l'API <a href="https://www.ticketmaster.be/">TicketMaster</a> pour un travail étudiant. Aucun ticket ne sont fournis sur ce site, uniquement des liens de l'API pour acheter les tickets.
                </p>
                <p v-else>Use of <a href="https://www.ticketmaster.be/">TicketMaster</a>  API for a student work. No tickets are on sale on this website, only link to other websites from the API.</p>
                <p v-if="language === 'fr'">
                    Si besoin vous pouvez me contacter: <a href="mailto:laurent.bomal@gmail.com">laurent.bomal@gmail.com</a>
                </p>
                <p v-else>If needed contact me: <a href="mailto:laurent.bomal@gmail.com">laurent.bomal@gmail.com</a></p>
            </div>
            <nav class="footerNav">
                <ul>
                    <div class="navFooterDesktop flex-c">
                        <div class="footerDS">
                            <p v-if="language === 'fr'">Trouve ton event</p>
                            <p v-else>Find your event</p>
                            <li v-for="(navLink, index) in navLinks" :key="index">
                                <a id="segmentFooterLinkDesktop" href="#segmentFooterLinkDesktop" @click="subnavQuerie(navLink.id,'classification')" :data-id="navLink.id" class="segFooter">{{navLink.name}}</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </nav>
            <div class="footer__socials">
                <p v-if="language === 'fr'">Suivez mes autres projets</p>
                <p v-else>Follow my other projects</p>
                <a class="github-button" href="https://github.com/laurentbom" data-size="large" aria-label="Follow @laurentbom on GitHub">Follow @laurentbom</a>
            </div>
        </div>
        <!-- Copyright -->
        <div v-if="language === 'fr'" class="footer__copyright">
            © 2023 Laurent Bomal. Tous droits réservés.
        </div>
        <div v-else class="footer__copyright">
            © 2023 Laurent Bomal. All rights reserved.
        </div>
    </footer>
    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/e6327d8d43.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.1/vue.global.min.js" integrity="sha512-adgKitI7rma1GrZi3dXfRvGXDVm8DzwbFs9UjdWeee5cslIrcgS9+PHj50Buc0i+kEXIEN9+Pu2OqikA3IJ2Xw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>    
    <script src="js/main.js"></script>
</body>
</html>