<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookYourFun - Find the event for you !</title>
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <link rel="stylesheet" href="css/styles.min.css">
    
</head>

<body  id="byfApp">
    <!-- Nav & searchbar -->
    <nav class="navigation flex">
        <!-- Logo + burger -->
        <div class="navigation__left flex align-c">
            <!-- Burger Menu -->
            <div class="navigation__burger">
                <div :class="'burger-menu ' + burgerNavClass" @click="openMobileMenu">
                    <div :class="'barre-top ' + burgerNavClass"></div>
                    <div :class="'barre-middle ' + burgerNavClass"></div>
                    <div :class="'barre-bottom ' + burgerNavClass"></div>
                </div>
            </div>
            <!-- Logo -->
            <a class="navigation__logo" href="index.html">BookYourFun</a>
        </div>
        <!-- Nav -->
        <ul :class="'flex navigation__main ' + mobileNavClass" v-click-outside="closeNav">
            <!-- Nav desktop Segments -->
            <li v-for="(navLink, index) in navLinks" @click="getGenres(navLink.id)" :data-id="navLink.id"><a href="#">{{navLink.name}}</a></li>
            <!-- Nav desktop Genres -->
            <nav class="navGenres" v-if="genres.length > 0 && !isMobile">
                <p>Genres:</p>
                <ul v-show="genres.length > 0">
                    <li v-for="(genre, index) in genres" :key="index" :data-id="genre.id" @click="listAppLaunch">{{genre.name}}</li>
                </ul>
                <button @click="closeNav"><i class="fa-solid fa-arrow-up"></i></button>
                <a href="#" class="allGenres" :data-id="segment[0].id" @click="listAppLaunch">See all events in {{segment[0].name}}</a>
            </nav>
        </ul>
        <!-- Searchbar -->
        <div class="navigation__search flex  align-c">
            <p>Search</p>
            <div class="navigation__search__bar flex">
                <input type="text" placeholder="Search by artist, event">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="header" @click="closeNav">
        <div class="header__content flex-c">
            <h2 class="header__content__title">Fête des Mères</h2>
            <button class="header__content__btn btn" id="headerBtn">Tickets</button>
        </div>
    </header>
    <!-- Main -->
    <main class="main" @click="closeNav">
        <!-- Main container -->
        <div class="main__container">
            <!-- Queries section -->
            <section v-show="isQuerie" class="queries">
                <div class="queries__title flex">
                    <div class="flex-c">
                        <h3>Recherche</h3>
                        <span>x Résultats</span>
                    </div>
                    <button class="closeQueries" @click="closeQueries"><i class="fa-solid fa-xmark"></i></button>
                </div>
                <div class="queriesComponent">
                    <ul class="queries__container">
                        <li>
                            <div class="querieDate">MAI<br>16</div>
                            <div class="querieInfos">
                                <div class="querieHour"><span>mer</span><span>20:30</span></div>
                                <div class="querieName">Double Dance: Ash - 55</div>
                                <div class="querieVenue"><span>Antwerpen</span><span>Handerlsbeurs</span></div>
                            </div>
                            <a href="#" class="querieMoreInfo btn">
                                Infos
                            </a>
                            <a href="#" class="querieMoreInfoMobile">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                        <li>
                            <div class="querieDate">MAI<br>16</div>
                            <div class="querieInfos">
                                <div class="querieHour"><span>mer</span><span>20:30</span></div>
                                <div class="querieName">Double Dance: Ash - 55</div>
                                <div class="querieVenue"><span>Antwerpen</span><span>Handerlsbeurs</span></div>
                            </div>
                            <a href="#" class="querieMoreInfo btn">
                                Infos
                            </a>
                            <a href="#" class="querieMoreInfoMobile">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                        <li>
                            <div class="querieDate">MAI<br>16</div>
                            <div class="querieInfos">
                                <div class="querieHour"><span>mer</span><span>20:30</span></div>
                                <div class="querieName">Double Dance: Ash - 55</div>
                                <div class="querieVenue"><span>Antwerpen</span><span>Handerlsbeurs</span></div>
                            </div>
                            <a href="#" class="querieMoreInfo btn">
                                Infos
                            </a>
                            <a href="#" class="querieMoreInfoMobile">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                        <li>
                            <div class="querieDate">MAI<br>16</div>
                            <div class="querieInfos">
                                <div class="querieHour"><span>mer</span><span>20:30</span></div>
                                <div class="querieName">Double Dance: Ash - 55</div>
                                <div class="querieVenue"><span>Antwerpen</span><span>Handerlsbeurs</span></div>
                            </div>
                            <a href="#" class="querieMoreInfo btn">
                                Infos
                            </a>
                            <a href="#" class="querieMoreInfoMobile">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                        <li>
                            <div class="querieDate">MAI<br>16</div>
                            <div class="querieInfos">
                                <div class="querieHour"><span>mer</span><span>20:30</span></div>
                                <div class="querieName">Double Dance: Ash - 55</div>
                                <div class="querieVenue"><span>Antwerpen</span><span>Handerlsbeurs</span></div>
                            </div>
                            <a href="#" class="querieMoreInfo btn">
                                Infos
                            </a>
                            <a href="#" class="querieMoreInfoMobile">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                        <li>
                            <div class="querieDate">MAI<br>16</div>
                            <div class="querieInfos">
                                <div class="querieHour"><span>mer</span><span>20:30</span></div>
                                <div class="querieName">Double Dance: Ash - 55</div>
                                <div class="querieVenue"><span>Antwerpen</span><span>Handerlsbeurs</span></div>
                            </div>
                            <a href="#" class="querieMoreInfo btn">
                                Infos
                            </a>
                            <a href="#" class="querieMoreInfoMobile">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="queriesComponent__pagination">
                        <i class="fa-solid fa-arrow-left"></i>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </section>
            <!-- Upcoming section -->
            <section class="upcomingSuggests">
                <!-- Title -->
                <h3>Upcoming</h3>
                <!-- List -->
                <ul>
                    <!-- List Item -->
                    <li class="upcomingSuggests__item">
                        <a href="#">
                            <!-- Image -->
                            <div class="upcomingSuggests__img">
                                <img src="img/hpimgex.webp" alt="">
                            </div>
                            <!-- Infos -->
                            <span>Concert</span>
                            <!-- Artist -->
                            <p>Artist</p>
                        </a>
                    </li>
                    <!-- List Item -->
                    <li class="upcomingSuggests__item">
                        <a href="#">
                            <!-- Image -->
                            <div class="upcomingSuggests__img">
                                <img src="img/cat-gc2a8d0997_640.jpg" alt="">
                            </div>
                            <!-- Infos -->
                            <span>Concert</span>
                            <!-- Artist -->
                            <p>Artist</p>
                        </a>
                    </li>
                    <!-- List Item -->
                    <li class="upcomingSuggests__item">
                        <a href="#">
                            <!-- Image -->
                            <div class="upcomingSuggests__img">
                                <img src="img/hpimgex.webp" alt="">
                            </div>
                            <!-- Infos -->
                            <span>Concert</span>
                            <!-- Artist -->
                            <p>Artist</p>
                        </a>
                    </li>
                    <!-- List Item -->
                    <li class="upcomingSuggests__item">
                        <a href="#">
                            <!-- Image -->
                            <div class="upcomingSuggests__img">
                                <img src="img/hpimgex.webp" alt="">
                            </div>
                            <!-- Infos -->
                            <span>Concert</span>
                            <!-- Artist -->
                            <p>Artist</p>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- Music section -->
            <section class="musicSuggests">
                <!-- Line -->
                <div class="greyLine"></div>
                <h3>Musics</h3>
                <ul>
                    <li>
                        <a href="">
                            <div class="suggest__img">
                                <img src="img/4e-la-petite-mort-pions.jpeg" alt="">
                            </div>
                            <span>Concert</span>
                            <p>Artist</p>
                            <p class="resumt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis labore iure modi similique amet molestias recusandae eos autem quasi sed? Veniam debitis dolorum deserunt maiores nam fugiat, iusto magnam eius?</p>
                            <a href="#" class="ticketLink">Tickets</a>
                        </a>
                    <li>
                        <a href="">
                            <div class="suggest__img">
                                <img src="img/cat-gc2a8d0997_640.jpg" alt="">
                            </div>
                            <span>Concert</span>
                            <p>Artist</p>
                            <p class="resumt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis labore iure modi similique amet molestias recusandae eos autem quasi sed? Veniam debitis dolorum deserunt maiores nam fugiat, iusto magnam eius?</p>
                            <a href="#" class="ticketLink">Tickets</a>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="suggest__img">
                                <img src="img/hpimgex.webp" alt="">
                            </div>
                            <span>Concert</span>
                            <p>Artist</p>
                            <p class="resumt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis labore iure modi similique amet molestias recusandae eos autem quasi sed? Veniam debitis dolorum deserunt maiores nam fugiat, iusto magnam eius?</p>
                            <a href="#" class="ticketLink">Tickets</a>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- Arts section -->
            <section class="artSuggests">
                <!-- Line -->
                <div class="greyLine"></div>
                <h3>Arts & Theater</h3>
                <ul>
                    <li>
                        <a href="">
                            <div class="suggest__img">
                                <img src="img/hpimgex.webp" alt="">
                            </div>
                            <span>Concert</span>
                            <p>Artist</p>
                            <p class="resumt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis labore iure modi similique amet molestias recusandae eos autem quasi sed? Veniam debitis dolorum deserunt maiores nam fugiat, iusto magnam eius?</p>
                            <a href="#" class="ticketLink">Tickets</a>
                        </a>
                    <li>
                        <a href="">
                            <div class="suggest__img">
                                <img src="img/cat-gc2a8d0997_640.jpg" alt="">
                            </div>
                            <span>Concert</span>
                            <p>Artist</p>
                            <p class="resumt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis labore iure modi similique amet molestias recusandae eos autem quasi sed? Veniam debitis dolorum deserunt maiores nam fugiat, iusto magnam eius?</p>
                            <a href="#" class="ticketLink">Tickets</a>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="suggest__img">
                                <img src="img/hpimgex.webp" alt="">
                            </div>
                            <span>Concert</span>
                            <p>Artist</p>
                            <p class="resumt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis labore iure modi similique amet molestias recusandae eos autem quasi sed? Veniam debitis dolorum deserunt maiores nam fugiat, iusto magnam eius?</p>
                            <a href="#" class="ticketLink">Tickets</a>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- Sports section -->
            <section class="sportSuggests">
                <!-- Line -->
                <div class="greyLine"></div>
                <h3>Sports</h3>
                <ul>
                    <li>
                        <a href="">
                            <div class="suggest__img">
                                <img src="img/hpimgex.webp" alt="">
                            </div>
                            <span>Concert</span>
                            <p>Artist</p>
                            <p class="resumt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis labore iure modi similique amet molestias recusandae eos autem quasi sed? Veniam debitis dolorum deserunt maiores nam fugiat, iusto magnam eius?</p>
                            <a href="#" class="ticketLink">Tickets</a>
                        </a>
                    <li>
                        <a href="">
                            <div class="suggest__img">
                                <img src="img/cat-gc2a8d0997_640.jpg" alt="">
                            </div>
                            <span>Concert</span>
                            <p>Artist</p>
                            <p class="resumt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis labore iure modi similique amet molestias recusandae eos autem quasi sed? Veniam debitis dolorum deserunt maiores nam fugiat, iusto magnam eius?</p>
                            <a href="#" class="ticketLink">Tickets</a>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="suggest__img">
                                <img src="img/hpimgex.webp" alt="">
                            </div>
                            <span>Concert</span>
                            <p>Artist</p>
                            <p class="resumt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis labore iure modi similique amet molestias recusandae eos autem quasi sed? Veniam debitis dolorum deserunt maiores nam fugiat, iusto magnam eius?</p>
                            <a href="#" class="ticketLink">Tickets</a>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <!-- Aside Suggests -->
        <aside class="main__aside">
            <h3>More</h3>
            <ul class="suggests">
                <li>
                    <a href="#">
                        <div class="aside__img">
                            <img src="img/hpimgex.webp" alt="">
                        </div>
                        <span>Artist</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="aside__img">
                            <img src="img/cat-gc2a8d0997_640.jpg" alt="">
                        </div>
                        <span>Artist</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="aside__img">
                            <img src="img/cat-gc2a8d0997_640.jpg" alt="">
                        </div>
                        <span>Artist</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="aside__img">
                            <img src="img/cat-gc2a8d0997_640.jpg" alt="">
                        </div>
                        <span>Artist</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="aside__img">
                            <img src="img/cat-gc2a8d0997_640.jpg" alt="">
                        </div>
                        <span>Artist</span>
                    </a>
                </li>
            </ul>
            <div class="greyLine"></div>
            <div class="addAside">
                <a href="#">Your add here</a>
            </div>
        </aside>
    </main>
    <!-- Footer -->
    <footer class="footer" @click="closeNav">
        <div>
            <div class="footer__top">
                <a href="#" class="footer__top__logo logo">BookYourFun</a>
                <p>Use of <a href="https://www.ticketmaster.be/">TicketMaster</a>  API for a student work. No tickets are on sale on this website, only link to other websites from the API.</p>
                <p>If needed contact me: <a href="mailto:laurent.bomal@gmail.com">laurent.bomal@gmail.com</a></p>
            </div>
            <nav class="footerNav">
                <ul>
                    <li v-if="isMobile" v-for="(navLink, index) in navLinks" :key="index" class="navFooterMobile">
                        <a id="segmentFooterLink" href="#segmentFooterLink" @click="getGenresFooterMobile(navLink.id)" :data-id="navLink.id" class="segFooter">{{navLink.name}}</a>
                        <ul class="dropdown-menu" v-show="(activeLinkId === navLink.id && showDropdown)">
                            <li v-for="(genreFooter, index) in genresFooter" :key="index"><a href="#" class="genreFooterCss" :data-id="genreFooter.id">{{genreFooter.name}}</a></li>
                            <li><a href="#" class="genreFooterCss">All</a></li>
                        </ul>
                    </li>
                    <div v-else class="navFooterDesktop flex-c">
                        <div class="footerDS">
                            <li v-for="(navLink, index) in navLinks" :key="index">
                                <a id="segmentFooterLinkDesktop" href="#segmentFooterLinkDesktop" @click="getGenresFooterDesktop(navLink.id)" :data-id="navLink.id" class="segFooter">{{navLink.name}}</a>
                            </li>
                        </div>
                        <div class="footerDG flex-c">
                            <span>Genres</span>
                            <div class="footerDG__list">
                                <p>All</p>
                                <p v-for="(genreFooterDesktop, index) in genresFooterDesktop" :data-id="genreFooterDesktop.id" class="fade">{{genreFooterDesktop.name}}</p>
                            </div>
                        </div>
                    </div>
                </ul>

            </nav>
        </div>
        <div class="footer__copyright">
            © 2023 Laurent Bomal. Tous droits réservés.
        </div>
    </footer>
    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/e6327d8d43.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.1/vue.global.min.js" integrity="sha512-adgKitI7rma1GrZi3dXfRvGXDVm8DzwbFs9UjdWeee5cslIrcgS9+PHj50Buc0i+kEXIEN9+Pu2OqikA3IJ2Xw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/main.js"></script>
</body>
</html>