.desktopCountrySelect{
  @media screen and (max-width:1300px){
    display: none;
  }
  background-color: #121212;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  ul{
    display: flex;
    align-items: center;
    gap: 50px;
    li span{
      margin-left: 10px;
      text-transform: uppercase;
      cursor: pointer;
      display: inline-block;
    }
    .desktopLanguageSelect{
      i{
        font-size: 20px;
      }
      span{
        &.active{
          border-bottom: 1px solid #fff;
        }
      }
    }
    .desktopCountrySelect{
      display: flex;
      align-items: center;
      i{
        font-size: 25px;
        margin-right: 5px;
      }
    }
    .flag{
      border: 1px solid #ffffff65;
      border-radius: 50px;
      width: 25px;
      height: 25px;
      transition: .2s transform ease-out;
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      filter: saturate(10%);
      &:hover{
        transform: scale(1.2);
      }
      &.active{
        filter: saturate(1);
      }
    }
  }
}
.header{
  min-height: 30vw;
  background-position: bottom;
  background-size: cover;
  color: #fff;
  position: relative;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 60%, transparent 90%);
  }
  @media screen and (max-width:720px){
    min-height: 56vw;
  }
  &__content{
    margin-left: 40px;
    padding: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: flex-start;
    gap: 20px;
    z-index: 2;

    @media screen and (max-width:720px){
      margin-left: 20px;
      padding: 20px;
    }
    &__title{
      font-size: calc(23px + 1vw);
      font-weight: 500;
    }
  }
}