///////////////////////////////////////////////
/////////Desktop Navigation////////////////////
///////////////////////////////////////////////

////////////////Desktop Nav////////////////////
.navigation{
  // Global
  align-items: center;
  color: #fff;
  font-size: 18px;
  background-color: rgb(2, 108, 223);
  background-image: linear-gradient(90deg, rgb(1, 80, 167), rgb(2, 108, 223), rgb(1, 80, 167));
  padding: 0px 16px;
  position: relative;
  &__left{
    @media screen and (max-width:680px){
      align-self: flex-start;
    }
  }
  @media screen and (min-width:900px){
    padding: 0px 40px;
  }
  @media screen and (max-width:680px){
    flex-direction: column;
    align-items: center;
  }
  // Logo
  &__logo{
    font-size: 34px;
    font-weight: 600;
    &:focus{
      border: 1px solid black;
    }
    @media screen and (max-width:1359px){
      font-size: 23px;
    }
  }
  // Nav
  &__main{
    margin-left: 30px;
    margin-right: auto;
    gap: 15px;
    @media screen and (max-width:1300px){
      flex-direction: column;
      position: fixed;
      top: 0;
      left: -140%;
      background-color: #fff;
      color: var(--color);
      margin: 0;
      width: 50vw;
      height: 100vh;
      padding-top: 80px;
      font-size: calc(20px + 1vw);
      z-index: 4;
      transition: .3s left ease;
      &.openMobile{
        left: 0;
      }
    }
    @media screen and (max-width:680px){
      width: 100vw;
    }
    & > li{
      padding: 40px 8px;
      cursor: pointer;
      a:focus{
        border: 1px solid black;
      }
      &:hover{
        background-color: darken($color: $blue, $amount: 10);
      }
      @media screen and (max-width:1300px){
        padding: 25px 30px;
        &:hover, &:focus{
          background-color: darken(#f3f3f3, $amount: 10);
        }
      }
    }
  }
  // Searchbar
  &__search{
    gap: 15px;
    margin-left: auto;
    @media screen and (max-width:680px){
      margin-left: 0px;
      width: 100%;
    }

    & > p{
      @media screen and (max-width:680px){
        display: none;
      }
    }
    &__bar{
      input,button{
        border: none;
      }
      @media screen and (max-width:680px){
        width: 100%;
      }
      input{
        padding: 12px 0px 12px 16px;
        width: 280px;
        border-radius: 5px 0px 0px 5px;
        outline: none;
        &::placeholder{
          font-size: 18px;
        }
        &:focus{
          background-color: #f9f9f9;
          outline: 2px solid black;
          &::placeholder{
            color: rgb(26, 25, 25);
          }
        }
        @media screen and (max-width:680px){
          width: 90%;
          margin-bottom: 10px;
        }
      }
      button{
        color: var(--color);
        padding: 0px 15px;
        background-color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 0px 5px 5px 0px;
        &:focus{
          border: 1px solid black;
          color: rgb(26, 25, 25);
          outline: 1px solid black;
        }
        &:hover{
          background-color: #f9f9f9;
          color: rgb(26, 25, 25);
        }
        @media screen and (max-width:680px){
          margin-bottom: 10px;
        }
      }
    }
  }
}

///////////////////////////////////////////////
///////Desktop Genres Navigation///////////////
///////////////////////////////////////////////


.navGenres{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  z-index: 2;
  background-color: #fff;
  padding: 50px 40px 70px;
  color: var(--color);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px;
  font-family: $f1;
  & > p{
    margin-bottom: 20px;
    font-weight: 600;
  }
  ul{
    columns: 3;
    padding: 0px 16px;
    li{
      padding: 8px;
      border-bottom: 1px solid #BFBFBF;
      cursor: pointer;
      transition: .2s all ease;
      font-size: 18px;
      font-weight: 400;
      
      &:hover{
       background-color: #f3f3f3; 
      }
    }
  }
  button{
    position: absolute;
    right: 40px;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    i{
      color: var(--color);
      font-size: 30px;
      margin-top: 10px;
      transition: .15s all ease-in;
      &:hover{
        color: var(--blue);
      }
    }
    
  }
  .allGenres{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    text-decoration: underline 2px solid var(--color);
    color: var(--blue);
    text-decoration: underline 2px solid var(--blue);
    text-underline-offset: 6px;
    transition: .15s all ease-in;
    &:hover{
      color: var(--color);
      text-decoration: underline 2px solid var(--color);
    }
  }
}




.footer{
  color: #fff;
  padding: 60px 20px;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > div{
    @media screen and (min-width:1301px){
      display: flex;
      gap:5vw;
    }
  }
  
  .footer__top{
    &__logo{
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 50px;
      display: inline-block;
      &:focus{
        border: 1px solid black;
      }
      @media screen and (max-width:1359px){
        font-size: 23px;
      }
    }
    & > p{
      font-size: 12px;
      max-width: 50ch;
      line-height: 22px;
      margin-bottom: 60px;
      a{
        text-decoration: underline;
      }
    }
  }
  .footer__copyright{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
    padding: 50px 0px 0px;
  }
}
.footerNav{
  @media screen and (min-width:1301px){
    width: 100%;
  }
}
.footerNav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  color: #fff;
  @media screen and (min-width:1301px){
    flex-direction: row;
    gap: 40px;
    text-align: center;
  }
  .navFooterMobile{
    display: block;
    position: relative;
    .segFooter{
      font-weight: 400;
      font-size: 18px;
      font-family: $f3;
      border-top: 1px solid #BFBFBF;
      display: block;
      padding: 10px;
      white-space: nowrap;
      @media screen and (min-width:1301px){
        border-top: none;
        width: 180px;
      }
    }
    a:last-child{
      border-bottom: 1px solid #5b5b5b;
      font-size: 12px;
      font-style: italic;
      &:hover{
        background-color: darken(#bebebe, $amount: 10);
      }
    }
    .dropdown-menu {
      top: 100%;
      left: 0;
      width: 100%;
      transition: all 0.3s ease;
      @media screen and (min-width:1301px){
        display: flex;
        flex-direction: column;
        gap: 0px;
      }
      .genreFooterCss{
        display: block;
        padding: 10px;
        white-space: nowrap;
      }
    }
  }
  .navFooterDesktop{
    width: 100%;
    .footerDS{
      font-size: 26px;
      display: flex;
      gap: 80px;
      margin-bottom: 50px;
      margin-top: 8px;
    }
    .footerDG{
      text-align: center;
      font-size: 16px;
      border: 1px  #BFBFBF;
      border-style: dashed;
      border-radius: 4px;
      padding: 30px 0px 10px;
      margin-right: 100px;
      span{
        align-self: flex-start;
        margin-bottom: 20px;
        margin-top: -40px;
        margin-left: 10px;
        background-color: var(--bg-footer);
        padding: 0 5px;
      }
      p{
        margin-bottom: 20px;
        cursor: pointer;
      }
      &__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        & > p{
          &:hover{
            text-decoration: underline;
            text-underline-offset: 5px;
          }
        }
      }
    }
  }
}