///////////////////////////////////////////////
/////////Desktop Navigation////////////////////
///////////////////////////////////////////////

////////////////Desktop Nav////////////////////
.navigation{
  // Global
  align-items: center;
  color: #fff;
  font-size: 18px;
  background-color: rgb(2, 108, 223);
  background-image: linear-gradient(90deg, rgb(1, 80, 167), rgb(2, 108, 223), rgb(1, 80, 167));
  padding: 0px 16px;
  position: relative;
  &__left{
    @media screen and (max-width:680px){
      align-self: flex-start;
    }
  }
  @media screen and (min-width:900px){
    padding: 0px 40px;
  }
  @media screen and (max-width:680px){
    flex-direction: column;
    align-items: center;
  }
  // Logo
  &__logo{
    font-size: 34px;
    font-weight: 600;
    &:focus{
      border: 1px solid black;
    }
    @media screen and (max-width:1359px){
      font-size: 23px;
    }
  }
  // Nav
  &__main{
    margin-left: 30px;
    margin-right: auto;
    @media screen and (max-width:1300px){
      flex-direction: column;
      position: fixed;
      top: 0;
      left: -140%;
      background-color: #fff;
      color: var(--color);
      margin: 0;
      width: 50vw;
      height: 100vh;
      padding-top: 80px;
      font-size: calc(14px + 1vw);
      z-index: 4;
      transition: .3s left ease;
      &.openMobile{
        left: 0;
      }
    }
    @media screen and (max-width:680px){
      width: 100vw;
    }
    & > li{
      padding: 40px 15px;
      
      cursor: pointer;
      a:focus{
        border: 1px solid black;
      }
      &:hover{
        background-color: darken($color: $blue, $amount: 10);
      }
      @media screen and (max-width:1300px){
        padding: 25px 30px;
        &:hover, &:focus{
          background-color: darken(#f3f3f3, $amount: 10);
        }
      }
      @media screen and (max-width:680px){
        padding: 20px 15px;
      }
    }
    // Language select
    .mobileMargin{
      // margin-top: auto;
    }
    .languageSelect{
      @media screen and (min-width:1301px){
        display: none;
      }
      font-size: 14px;
      span{
        margin-left: 15px;
        text-transform: uppercase;
        border: 1px solid lighten($color: #262626, $amount: 20);
        border-radius: 15px;
        padding: 5px 12px;
        transition: all .2s ease-in-out;
        &:hover{
          background-color: lighten($color: #262626, $amount: 20);
          color: #fff;
        }
        &.active{
          background-color: var(--color);
          color: #fff;
          border: 1px solid var(--color);
        }
      }
    }
  }
  // Searchbar
  &__search{
    gap: 15px;
    margin-left: auto;
    @media screen and (max-width:680px){
      margin-left: 0px;
      width: 100%;
    }

    & > p{
      @media screen and (max-width:680px){
        display: none;
      }
    }
    &__bar{
      position: relative;
      & > ul{
        position: absolute;
        top: 50px;
        left: 0;
        color: rgb(26, 25, 25);
        background-color: #fff;
        width: 100%;
        z-index: 3;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: rgba(0,0,0,.3) -4px 4px 8px 0px;
        .searchInputInfo{
          font-style: italic;
          font-weight: 500;
        }
        li{
          cursor: pointer;
          padding: 12px 16px;
          font-weight: 300;
        }
        li:not(:first-child):hover{
          color: black;
            background-color: #f9f9f9;
        }
        
      }
      input,button{
        border: none;
      }
      @media screen and (max-width:680px){
        width: 100%;
      }
      input{
        padding: 12px 0px 12px 16px;
        width: 280px;
        border-radius: 5px 0px 0px 5px;
        outline: none;
        &::placeholder{
          font-size: 18px;
        }
        &:focus{
          background-color: #f9f9f9;
          outline: 2px solid black;
          &::placeholder{
            color: rgb(26, 25, 25);
          }
        }
        @media screen and (max-width:680px){
          width: 90%;
          margin-bottom: 10px;
        }
      }
      button{
        color: var(--color);
        padding: 0px 15px;
        background-color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 0px 5px 5px 0px;
        &:focus{
          border: 1px solid black;
          color: rgb(26, 25, 25);
          outline: 1px solid black;
        }
        &:hover{
          background-color: #f9f9f9;
          color: rgb(26, 25, 25);
        }
        @media screen and (max-width:680px){
          margin-bottom: 10px;
        }
      }
    }
  }
}



///////////////////////////////////////////////
///////////////Footer Navigation///////////////
///////////////////////////////////////////////
.footer{
  color: #fff;
  padding: 60px 40px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & > div{
    @media screen and (min-width:1001px){
      display: flex;
      justify-content: space-around;
    }
  }
  
  .footer__top{
    justify-self: flex-start;
    &__logo{
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 50px;
      display: inline-block;
      &:focus{
        border: 1px solid black;
      }
      @media screen and (max-width:1359px){
        font-size: 23px;
      }
    }
    & > p{
      font-size: 12px;
      line-height: 22px;
      margin-bottom: 60px;
      max-width: 55ch;

      a{
        text-decoration: underline;
      }
    }
  }
  .footer__copyright{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
    padding: 50px 0px 0px;
  }
}
.footerNav{
  @media screen and (max-width:1000px){
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 20px 0px;
    margin-left: 0px;
  }
  margin-right: 50px;
  
}
.footerNav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  color: #fff;
  @media screen and (min-width:1001px){
    text-align: center;
  }
  }
  ///////////////Footer Navigation Desktop///////////////
  .navFooterDesktop{
    .footerDS{
      font-size: 16px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 8px;
      font-weight: 300;
      @media screen and (max-width:1000px){
          margin-top: 0px;
      }
      p{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 25px;
        font-family: $f4;
      }
      li a{
        &:hover{
          border-bottom: 1px #fff solid;
        }
      }
    }
  }


.footer__socials{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 8px;
  p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    font-family: $f4;
  }
  @media screen and (max-width:1000px){
    padding: 20px 0px 0px;
  }
}